---
// コンポーネントのインポート
import Base from "../Layouts/Base.astro"

// ページ内で利用する定数の定義
const now_url = Astro.request.url;
const meta_title = "Astroサイト"
const meta_description="JavascriptフレームワークのAstroを利用して、LINEマーケティングの基本から応用までアウトプットしていくブログサイトになります。";
---

<Base 
	title={meta_title}
	page_description={meta_description}
	page_url={now_url}
>
	<header class="mx-auto bg-white w-10/12 rounded-full shadow shadow-gray-400 my-4">
		<h1 class="p-2 text-lg md:text-3xl font-bold text-center">Astroで作る<br class="md:hidden ">LINEマーケティングマニア</h1>
	</header>

	<main class="mx-auto bg-gray-100">
		
		<div>
			<h2 class="">Astroの魅力</h2>
			<p>近年注目を浴びているSSG（静的サイトジェネレーター）としてのフレームワークであるAstro。これにすごく将来性を感じています。</p>
			<ul>
				<li>SSGでサイト構築していくので非常に高速なページビューが実現可能</li>
				<li>React/Vueなど他のライブラリをコンポーネント利用可能</li>
				<li>デプロイ・バックエンドの認証サービスとの連携も豊富</li>
				<li>Astro DBも使えてフロントだけではないサイト設計・構築が可能</li>
			</ul>
			<p>フロントエンドだけではなく、バックエンド機能も合わせて構築しながらサイトを作っていけないかと模索する日々を過ごしています。</p>
		</div>
		<div>
			<h2>LINEマーケティングの魅力</h2>
			<p>SNSマーケティングの一つになるかと思いますが、LINEの良さは企画力が試されることとユーザー（お客様）との双方向コミュニケーションが取れることでしょう。</p>
			<p>ユーザー数が他のSNSに比べて圧倒的に多いこと、属性別に配信状況を分けられることというのも活用するメリットになりますね。</p>
		</div>
		<div>
			<h2 class="text-green-600">筆者のこれまで</h2>
			<p>私はこれまで作業療法士（リハビリ）として長らく働いてきました。作業療法士にもいろいろな専門領域があるわけですが、私が専門としていたのは『手』でした。手に関することだったらなんでもござれ。ちょっとした痛みやしびれから切断に至るまで、数多くの患者さんを診させていただきました。</p>
			<p>元々作業療法士を目指そうと思ったきっかけは高校時代。大学を色々と紹介している本を見ている中で、作業療法というものがいろんな作業（＝アクティビティ・活動）を通じて治療を行うことを知りました。</p>
			<p>説明をしてもパッと理解されにくいことが多いですが、当時の私の解釈として<span class="text-red-600">『えんぴつ１本からリハビリに活かすことができる』</span>、<span class="text-red-600">『自分のアイデア次第で患者さんをよくすることができる』</span>というもので非常にワクワクしたのです。</p>
			<p>そんなワクワクを胸に大学へ入学すると、そこで出会ったのが『スプリント』と呼ばれる装具治療でした。一枚のプラスチックの板から患者さんの手の形や病状に合わせて形状を変えられる。そしてそれは移動中や寝ている時でも装着していることで治療につながる。<br>こんな素敵なことはないと思い、いろいろな領域がある中で手のリハビリを専門にしていくことを決めたのです。</p>
			<p>無事に国家資格を取得して、病院で勤務し始めるとたくさんスプリントを作成する機会があり、日々試行錯誤しながらも患者さんにあった治療をしていました。</p>
			<p>作業療法士としての仕事はやりがいも多く、非常に楽しかったのですが、自分の働き方を考えていく中で『家族との時間』を大切にしたいと思う様になりました。<br>なるべく妻や子供といる時間を作っていきたい、そのためにはフルタイムで出勤していては目指す未来は実現できないと思い、さまざまな副業を始めることになります。</p>
			<p>色々と仕事を経験していく中で、『web制作≒プログラミング』にハマります。一日中取り組んでいても嫌にならないくらい。自分にとってはゲームをしている感覚に近いのかもしれません。でも”≒”と書いたのはプログラミングスキルを活かしてホームページなどを作成するのがweb制作になるわけで、自分が本当に好きなのはページを作ることよりも機能を作っていく方が楽しいと気づいたのです。</p>
			<p>そこからさらに紆余曲折を経て、このAstroフレームワークに出会います。知識のアウトプットとしてこういったブログサイトも作れるし、そこにカテゴリやタグなどの機能追加だって自分で作っていけるし、今はPHPやPythonよりもこのAstroをたくさん使える様になりたいと思っています。</p>
			<hr>
			<p>ではLINEマーケティングについてはどうかというと、自分にとってみると実は作業療法士時代に感じていたことと全く同じで<span class="text-red-600">『自分のアイデア次第で相手を勝たせることができる』</span>ということがとても大きな魅力に感じています。<br>アイデアマンだねと言ってもらえる機会もこれまでにあり、０→１を生み出すのは好きなのでこの仕事をたくさんしていきたいと思う様になりました。</p>
		</div>
		<div>
			<h2>このブログサイトで行っていくこと</h2>
			<ul>
				<li>Astroの使い方をアウトプットしていく</li>
				<li>Astroの魅力を伝えていく</li>
				<li>LINEマーケティングのアイデアをアウトプットしていく</li>
				<li>LINEマーケティングの一環として、Messaging APIの活用やLIFFアプリの作成についてアウトプットをしていく</li>
			</ul>
			<p>こんなことを念頭に、少しずつ公開を増やしていこうと思います。</p>
		</div>
		<div>
			<h2>技術スタック</h2>
			<dl>
				<div class="flex gap-2 mb-4">
					<dd>使用場面</dd>
					<dd>使用技術</dd>
				</div>
				<div class="flex gap-2 mb-4">
					<dd>フロントエンド</dd>
					<div>
						<dd>HTML</dd>
						<dd>CSS：Tailwind CSS</dd>
					</div>
				</div>
				<div class="flex gap-2 mb-4">
					<dd>バックエンド</dd>
					<div>
						<dd>React</dd>
						<dd>Typescript</dd>
						<dd></dd>
					</div>
				</div>
			</dl>
		</div>
	</main>
</Base>